# Environment Variables
.env
.env.*
.env.local
.env.production
!.env.example

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Uploads
uploads/*
!uploads/.gitkeep
